pymongo
fastapi
uvicorn
jsonschema
google-auth
requests
python-dotenv
python-jose[cryptography]
python-multipart
databroker
event-model
Pillow
numpy
fastapi
git+git://github.com/als-computing/datahandler_fits@master#egg=databroker-fitshandler
datadog

