pymongo
fastapi
uvicorn
jsonschema
google-auth
requests
python-dotenv
python-jose[cryptography]
python-multipart
git+https://github.com/bluesky/databroker@cfd7360
git+https://github.com/bluesky/event-model.git@b7a5fd8
Pillow
numpy
fastapi
git+git://github.com/als-computing/datahandler_fits@master#egg=databroker-fitshandler
datadog

